body { font-family: sans-serif; width: 625px; margin: 0 auto; font-size: 12pt; color: #333333; text-align: justify;}
a, a:visited { color: #b3002d; text-decoration: none; }
a:hover, a:focus { color: #800020; text-decoration: underline; }
ul { padding: 0; list-style-position: inside; list-style-type: none; }
.links {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
	-moz-column-count: 2; /* Firefox */
	font-variant: small-caps;
	column-count: 2;
	text-align: center; }
div.header {
	width: 600px;
	height: 240px;
	padding-top: 20px;
	padding-bottom: 20px;
	border: 0px;
	margin: 0px; }
h1.head1 {
	margin: 0px; }
div.subhead {
	width: 600px;
	height: 167px;
	vertical-align: middle; }
